---
import BaseLayout from '@/layouts/BaseLayout.astro'
import SearchResults from '@/components/SearchResults.vue'
import { getLanguagePaths } from '@/admxUtils';
export const getStaticPaths = getLanguagePaths;

const { lang } = Astro.params;
---

<BaseLayout title="Search - ADMX Viewer" lang={lang}>
  <div class="p-6">
    <SearchResults lang={lang} client:load />
  </div>
</BaseLayout>
